<% layout("/layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <!-- <form action="/listings/new" method="get">
        <button>new</button>
    </form> -->
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let list of allListings){ %>
            <a href="/listings/<%= list._id %>" class="listingLink">
                <div class="card col main-card">
                    <img class="card-img-top" src="<%= list.image %>" alt="listing img" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                       <b> <%= list.title %></b> <br>
                       <b> &#8377; <%= list.price.toLocaleString("en-in") %> /day</b>
                        <br>
                      </p>
                    </div>
                  </div>
                  <br>
            </a>
           
              <% } %>
    </div>
</body>
